.JooseIt-Button-Home {
    background-image: url(../images/navigation/home.png);
}


.JooseIt-Button-Home-Color {
    background-image: url(../images/navigation/home-color.png);
}



.JooseIt-Button-About {
    background-image: url(../images/navigation/about.png);
}


.JooseIt-Button-About-Color {
    background-image: url(../images/navigation/about-color.png);
}
