body {
	font-family : helvetica,arial,freesans,clean,sans-serif;
	font-size : 13.34px;
	font-size-adjust : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	line-height : normal;
}

a {
	text-decoration : none
}


a:hover {
	text-decoration : underline;
}